<%= form_with model: book do |f| %>
  <div class="form-group">
    <label for="book_title">Title</label>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <label for="book_body">Opinion</label>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <label>Category</label>
    <%= f.text_field :category,class: 'form-control book_category' %>
  </div>
  <div id="stars">
    <label>Rate</label>
  </div>
    
  <div class="form-group">
    <%= f.submit btn , class: 'btn btn-success' %>
  </div>
<% end %>
<script>
  let elem = document.querySelector('#stars');
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'book[star]',
    score: "<%= isEdit ? book.star : 0 %>"
  };
  window.raty(elem, opt);
</script>

